body{ 
  
   background-image: url(https://i.pinimg.com/originals/b7/fb/f7/b7fbf71395d30f32ce517d10f40932c6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
background-color: bg-pink-500;
}
.img10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  }

  p{
    text-align: center;
  }

  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }